<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>reset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <h1>reset</h1>
    <div class="container">
            <% if (message) { %>
                <div class="alert">
                    <%= message %>
                </div>
                <% } %>
    <p>IF YOU LOST YOUR FUCKING PASSWORD GIVE US YOUR EMAIL DIPSHIT</p>
        <form method="POST">
            <input name="email" class="email" type="email" placeholder="email" required/>
            <input name="new_password" type="password" placeholder="newpassword" required/>
            <input name="new_password_confirmation" type="password" placeholder="confirm new password" required/>
            <button class"recover-password">Submit</button>
        </form>

    <script src="main.js"></script>
</body>
</html>